@import '../../scss/vars.scss';

$height:25px;

.switch{

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Fresca', sans-serif;

    >span{
        margin: 0 10px 0 10px;
        color: $dark-blue;
        font-weight: bold;
    }

    .button{
        display: flex;
        align-items: center;
        width: 40px;
        height: $height;
        background-color: $green;
        border-radius: 20px;
        position: relative;
        transition: 200ms background-color ease-out;
        
        &.off{
            background-color: $red;
            div{
                left: 2px;
            }
        }
        &.on{
            div{
                left: 16px;
            }
        }

        > div{
            width: $height - 3px;
            height: $height - 3px;
            background: white;
            border-radius: 20px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65); 
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);

            transition: 200ms left ease-out;
            position: absolute;

        }

    }
}
